events { }

http {
    server {
        listen 80;

        server_name localhost;

        location / {
            root /usr/share/nginx/html;
            index index.html;
        }

        # Configurare pentru fișierele statice (CSS, JS, etc.)
        location ~* \.(?:ico|css|js|gif|jpe?g|png|woff2?|eot|ttf|svg|otf|map)$ {
            expires 6M;
            access_log off;
            add_header Cache-Control "public";
        }
    }
}
